/* Add this to your CSS file or style tag in your component */
.upvotes-list-container {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 75%;
    border-radius: 20px;
    margin-left: 10%;
    height: 90px;
  }
  
  .upvotes-list {
    display: flex;
  }
  
  .upvote-button {
    background-color: #F4F6F8;
    color: #343A40;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    margin: 20px;
    height: 95px;
    width: 95px;
    justify-content: center;
  }
  